<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Madoka ML</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/bootstrap.min.css') }}" />
  </head>
  <body>
    <div id="particles"></div>
    <div id="app"></div>
    <script src="{{ url_for('static', filename='assets/js/jquery-3.1.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/build.js') }}"></script>
  </body>
</html>
